# This file contains environment variables and their values used in the container.
# Each environment variable must on on a separete line in VARIABLE=VALUE format.
# Do not enclose any env values in single or double quotes.

DB_SERVER=db.aws.wbitt.com
DB_NAME=db_test
DB_USER=user_test
DB_PASSWORD=Some-Secret-Password

